.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2b2d42;
    color: white;
    padding: 1rem 2rem;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #2b2d42;
    color: white;
    border: none;
    padding: 10px 15px;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  .header-actions button {
    background-color: #ef233c;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .header-actions button:hover {
    background-color: #d90429;
  }
  